<div class="col-sm-6 col-md-6 col-sm-offset-3">
  <form action="/book/add-book" method="post">
    <div class="form-group">
      <label for="id">Book ID:</label>
      <input type="text" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="title">Book Title:</label>
      <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
      <label for="author">Author Name:</label>
      <input type="text" name="author" class="form-control" id="author">
    </div>
    <div class="form-group">
      <label for="published_year">Published Year:</label>
      <input type="text" name="published_year" class="form-control" id="published_year">
    </div>
    <div class="form-group">
      <label for="genre">Genre:</label>
      <input type="text" name="genre" class="form-control" id="genre">
    </div>
    <div class="form-group">
      <label for="available_copies">Number of available copies:</label>
      <input type="text" name="available_copies" class="form-control" id="available_copies">
    </div>
    <button type="submit" class="btn btn-default">Add Book</button>
  </form>
</div>
