<form action="/api/auth/register" method="post">
  <h2>Signup</h2>
  
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password" required>
  </div>
  
  <div class="form-group">
    <label for="membership_type">Membership Type:</label><br>
    <input type="radio" id="regular" name="membership_type" value="Regular" required> Regular
    <input type="radio" id="premium" name="membership_type" value="Premium" required> Premium
  </div>

  
  
  <button type="submit" class="btn btn-default">Signup</button>
</form>
